.grid{
    width:300px;
    height:300px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
    
   
}

.invader{
    background-color: rgb(98, 8, 153);
    border-radius: 1em;
}

.shooter{
    background-color: blue;
    
}

.laser{
    background-color: yellow;
}

.boom{
    background-color: red;
}